<div class="container">

  <header>
    <h1>{{ title() }}</h1>
    <p class="stats">Bought {{ groceryService.boughtCount }} out of {{ groceryService.totalCount }} items.</p>
  </header>

  <div class="add-item">
    <label class="item-name-label">Item name:</label>
    <input
      class="item-name-input"
      type="text"
      placeholder="Add item name here."
      [(ngModel)]="newItemName"
    >
    <label class="item-quantity-label">Item quantity (in kg):</label>
    <input
      type="number"
      min="1"
      placeholder="Quantity in kg."
      [(ngModel)]="newItemQuantity"
      class="item-quantity-input"
    >
    <button class="add-btn" [disabled]="!newItemName().trim() || newItemQuantity() <= 0" (click)="addItem()">
      Submit
    </button>
  </div>

  <div class="item-list">
    @if (groceryService.items().length === 0) {
      <p class="empty-list">No items yet. Add items from above!</p>
    }
    @else {
      @for (item of groceryService.items(); track item.id) {
        <div class="item" [class.bought]="item.bought">
          <input
            type="checkbox"
            (click)="groceryService.toggleItem(item.id)"
            [checked]="item.bought"
            class="item-checkbox"
          >
          <span class="item-name">{{ item.name }}</span>
          <span class="item-quantity">{{ item.quantity }}</span>
          <button (click)="groceryService.deleteItem(item.id)" class="delete-btn">
            x
          </button>
        </div>
      }
    }
  </div>

</div>
